<footer class="mt-5">
    <div class="container-fluid bg-dark text-light mt-100">

        <p class="text-center mt-5">
           @Copyright Online Job Portal 2022 | All rights reserved
        </p>

    </div>
</footer>

<!-- <div class="footer_bottom">	
  <div class="container">
   
  	<div class="clearfix"> </div>
	<div class="copy">
		<p>Copyright © 2020 . All Rights Reserved . Design by <a href="http://www.approxsol.com/" target="_blank">ApproxSol.</a> </p>
	</div>
  </div>
</div> -->