<header>
    <nav class="navbar navbar-expand-lg  " id="job-p-nav-color">
        <div class="container-fluid">
            <a class="navbar-brand" href="/job_provider/job_provider_home">JobDhundo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                              <!-- <li class="nav-item">
                                 <a class="nav-link" href="categories.php">Categories</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="posting_job.php">Posting job</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="logout.php">Logout</a>
                            </li> -->



							  
							  
							

                            <li class="nav-item">
                                 <a class="nav-link" href="/job_provider/job_provider_home">Home</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="viewappjob.php">view applied job</a>
                            </li> -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="logout.php">Logout</a>
                            </li> -->
							
                              
                              <li class="nav-item">
                                 <a class="nav-link" href="job_post">post job</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link" href="categorie">Add Categories</a>
                             </li>

                             <li class="nav-item">
                                <a class="nav-link" href="show_categorie">Show Categories</a>

                             </li>
                             

                             <li class="nav-item">
                                <a class="nav-link" href="logout">Logout</a>
                             </li>
							 
						      
						


                </ul>
               
							 



							  
							  
						<!-- <form class="d-flex">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
						  
				  
                


            </div>
        </div>
    </nav>
</header>